:root {
  --primary-color: #e9e3e0;
  --blue-color: #435663;
  --black-color: #000000;
  --green-color: #3f5a51;
}

.about-me {
  text-align: center;
  background-color: var(--green-color);
  padding: 80px;
}

.about-me .info {
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 15px;
}

.projects {
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
}

table {
  max-width: 800px;
  margin-top: 50px;
}

table td {
  padding: 15px;
}

table #project {
  min-width: 110px;
}

table #title {
  min-width: 200px;
}

@media (max-width: 600px) {
  table #project,
  table #title {
    min-width: 0;
  }
}

section a {
  text-decoration: none;
  color: var(--blue-color);
}

.headshot-about {
  width: 335px;
  border-radius: 50%;
  padding: 40px;
}

@media screen and (max-width: 1000px) {
  .about-me {
    padding: 10px;
  }
  .headshot-about {
    padding: 40px 0;
  }
}
