:root {
  --primary-color: #e9e3e0;
  --blue-color: #435663;
  --black-color: #000000;
  --green-color: #3f5a51;
}

.socials {
  position: fixed;
  top: 50%;
  right: 0;
  background-color: var(--blue-color);
  border-radius: 10px 0 0 10px;
}

.socials a {
  text-decoration: none;
}

.socials a .fa-brands {
  display: block;
  color: var(--primary-color);
  font-size: 2rem;
  padding: 0.25rem;
}

@media (max-width: 600px) {
  .socials {
    display: none;
  }
}

.main-section {
  display: flex;
  height: 100vh;
  align-items: center;
  color: #000;
}

.main-section .headshot {
  width: 335px;
  border-radius: 50%;
  padding: 40px;
  margin-left: 10vw;
}

.introduction {
  width: 40vw;
  padding: 30px;
  border-left: 4px solid #000;
}

@media screen and (max-width: 1000px) {
  .main-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
  }

  .introduction {
    width: 90vh;
    border-left: none;
    text-align: center;
  }

  .main-section .headshot {
    margin-left: 0;
    padding: 40px 0;
  }
}

.arrow {
  border: solid #000;
  border-width: 0 8px 8px 0;
  padding: 15px;
  display: inline-block;
  transform: rotate(45deg);
}

.bounce {
  padding: 50px 0 0 50px;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-30px);
  }
}

.work-section {
  padding: 80px 50px;
  background-color: var(--blue-color);
}

.work-sub-title {
  text-align: center;
  margin-bottom: 6rem;
}

.work-sub-title h2 {
  font-size: 3rem;
}

.work-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.6rem;
  max-width: 120rem;
  padding: 0 6rem;
  margin: 0 auto;
}

.work-card {
  background-color: var(--green-color);
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.2rem;
  overflow: hidden;
  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  transition: all 0.3s;
  min-width: 18rem;
  width: 18rem;
  height: auto;
}

.work-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.work-card:active,
.work-card:hover {
  color: var(--primary-color);
  transform: translateY(-1.2rem);
  cursor: pointer;
}

.work-img {
  width: 100%;
}

.work-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.4rem 0;
  flex: 0 1 auto;
}

.work-description {
  padding: 1.8rem 2.4rem;
}

.source-code:link,
.source-code:visited {
  color: var(--black-color);
  text-decoration: none;
  padding: 0.8rem;
}

.source-code:hover,
.source-code:active {
  color: var(--primary-color);
  transition: 0.3s ease-in;
}

@media screen and (max-width: 1000px) {
  .work-card {
    width: 100%;
  }

  .bounce {
    padding: 50px 0 0 0;
  }
}

.html {
  border-top: solid 8px rgb(242, 128, 87);
}

.css {
  border-top: solid 8px rgb(3, 144, 144);
}

.js {
  border-top: solid 8px rgb(88, 130, 203);
}
.react {
  border-top: solid 8px rgb(239, 255, 66);
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.quote-container {
  width: 40%;
  padding: 40px;
}

.about-container {
  width: 30%;
  padding: 80px 0;
}

@media screen and (max-width: 1000px) {
  .about-section {
    display: flex;
    flex-direction: column;
  }

  .about-container,
  .quote-container {
    padding: 100px 0;
    width: 80%;
  }
}

.quote {
  font-size: 40px;
  font-style: italic;
}

.quote-container p {
  float: right;
}
